.registroTema
{
	font-size: 15px;
	margin-left: 10px;
	text-align: left;
	color:#00E1E1;
}
#msjRegistrado
{
	background-color: #808080;
}
#lista 
{
	background-color: #00BFBF;
	border: 2px solid #C0C0C0;
	padding:10px;
	min-width: 20%;
	border-radius: 10px;
}
#lista span
{
	font-size: 18px;
	color:#000000;
	width:10%;
	text-shadow:1px 1px 0px #FFF;
}
#lista a
{
	text-decoration: none;
	color:#00FFFF;
	background-color:#6F6F6F; 
	padding:10px;
	border-radius: 10px;
}
#lista a:hover
{
	background-color:#000000; 
	text-decoration: none;
	color:#80FFFF;
	
}
.categoria
{
	color:#FFFFFF;
	font-size: 17px;
}
.registroTema input[type='text']
{
    padding: 7px 6px;
    width: 294px; 
    border: 1px solid #CED5D7;
    resize: none; 
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}

.registroTema input[type='submit']
{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 	color:#0080C0;
    background: #e4f1f6;
}
.registroTema input[type='submit']:hover
{
    background: #00FFFF;
}
.volver a
{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 6px 14px;
    border-radius: 20px;
    text-shadow: 1px 1px 0px white;
 	color:#0080C0;
    background: #e4f1f6;
}
.volver a:hover
{
	background: #00FFFF;
}
.registroTema
{
    color: #00FFFF;
    border-radius: 6px;
    padding: 10px 45px 20px;
    margin-top: 20px;
    margin-left: 5%;
}