.registroTema
{
	font-size: 20px;
	margin-left: 10px;
	text-align: left;
	color:#FFFF00;
}
#msjRegistrado
{
	background-color: #808080;
}
#lista 
{
	
	border: 2px solid #C0C0C0;
	padding:10px;
	width: 80%;
	border-radius: 10px;
}
#lista span
{
	font-size: 18px;
	color:#fff;
}
#lista a
{
	text-decoration: none;
	color:#00FFFF;
	background-color:#6F6F6F; 
	padding:10px;
}
#lista a:hover
{
	background-color:#000000; 
	text-decoration: none;
	color:#80FFFF;
	
}
.categoria
{
	color:#FFFFFF;
	font-size: 17px;
}
.registroTema input[type='text']
{
    padding: 7px 6px;
    width: 294px; 
    border: 1px solid #CED5D7;
    resize: none; 
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}