.perfil
{
	text-align: center;
	padding:10px;
}

.perfil img
{
	border: 3px solid #808080;
	height: 150px;
	width: 150px;
	border-radius: 15px;
	box-shadow: 0px 5px 10px #000;
}
#datos
{
	font-size: 15px;
	color:#FF0000;
}

#preguntas li
{
	width: 60%;
	border: 3px solid #C0C0C0;
	padding: 10px;
	cursor:pointer;
	background-color:#00FFFF;
	cursor: pointer;
	display:inline-block;
	border-radius: 10px;
	text-align: center;
}
#preguntas li:hover
{
	cursor:pointer;
	background-color:#80FFFF;
}
#preguntas a
{
	text-decoration: none;

}

#chat
{
	border:2px solid #FFFFFF;
	height: 480px;
	width: 55%;
	color: #FFFF00;
}

#juego
{
	height: 460px;
	width: 386px;
	padding: 10px;
	border: 2px solid #C0C0C0;
	margin-left: 56%;
	margin-top:-52%;

}

/*para el formulario del juego*/
.crearjuego
{
    
	width: 380px;
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding:5px;
    color:#FFFF00;
    background-image:url("/media/imgInicio/fondo2.jpg");
    box-shadow: 0px 5px 10px #000, 0 0 0 15px #272822 inset;
    
}
.crearjuego input[type='text']
{
    padding: 5px 5px;
    width: 294px;
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.crearjuego label
{
    display: block; 
    font-weight: bold;
    color:#00FFFF;
}
.botoncrear {
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 2px 5px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 	color:#0080C0;
    background: #e4f1f6;

}
.botoncrear:hover
{
	background-color: #80FF80;
}
.cancelar {
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 2px 5px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 	color:#0080C0;
    background: #e4f1f6;

}
.cancelar:hover
{
	background-color: #80FF80;
}
.botonjuego {
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 	color:#0080C0;
    background: #80FFFF;
    display:inline-block;
    width: 250px;

}
.botonjuego:hover 
{
	background-color: #FFFF00;
}
#partidacreada
{
	border: 3px solid #FFFF00;
	min-height: 300px;
}
