<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/static/stilo.css">
	<link rel="stylesheet" href="/static/stiloR.css">
	<link rel="stylesheet" href="/static/stiloL.css">
	<link rel="stylesheet" href="/static/stiloRT.css">
	<link rel="stylesheet" href="/static/stiloP.css">

	{% block titulo %}
	{%  endblock %}
</head>
<body>
	{% block menu %}

	{% endblock %}
	
	
	<div class="cuerpoIz">
		{% block contenidoIz %}

		{% endblock %}
	</div>	
	<div class="cuerpo">
		{% block contenido %}

		{% endblock %}
	</div>	

	

	{%block pie %}
	{% endblock %}
	

	<div id="pie">Potosi-Bolivia</div>
</body>
</html>