{% extends "base.html" %}

{% block titulo %}
<title>Inicio</title>
{% endblock %}

	{% block menu %}
	{% include "includes/menu_inicio.html" %}
	{%endblock%}

{% block contenidoIz %}
	

	<div class="textoinicio">
		<p>
			<img src="/media/imgInicio/imagen9.png" alt=""/>
			<h2>
			Diviertete y disfruta de la mejor pagina 
			de trivia, y demuestra que sabes mas que 
			los demas sumando puntos por cada victoria 
			que tengas, solo registrate y se parte de 
			esta nueva experiencia que abrira tu mente 
			llenandote de conocimientos
			</h2>
		</p>

	</div>


{% endblock %}





