{% extends "base.html" %}

{% block title %}
	    <title>temas</title>
{% endblock %}
	{% block menu %}
	{% include "includes/menu_login.html" %}
	{%endblock%}

{% block contenidoIz %}
	<div class="perfil">
		<img src="{{ user.perfil.avatar.url_200x200}}" alt="avatar">
		<h3>Activ@ : {{ user.get_username }}</h3>
	</div>
	
	<ul id="datos">
		<li>Puntos :</li>
		<li>Ganadas :</li>
		<li>Perdidas :</li>
	</ul>
	<ul id="preguntas">
		<li><a href="/inicio/modificar/">Editar Perfil</a></li><br><br>
		<li><a href="/inicio/registro/tema/">Editar preguntas</a></li>
	</ul>
	
{% endblock %}

{% block contenido %}
<div class="registroTema">
	{% if estado %}
		<div id="msjRegistrado">
		 <h3>Tema Registrado</h3>
		</div>
	{% endif %}
	<form action="" method="post">
	<legend>{{titulo}}</legend>
		{{formulario.as_p}}
		{% csrf_token%}
		<input type="submit" name="benviar" value="Registrar"><br><br>
		<div class="volver"><a href="/inicio/perfil/">Cancelar</a></div>
	</form><br>
	<div>
		{% for i in temas %}
			<div id="lista">
				<span class="categoria">{{i.nombre}}</span>
				<a href="/inicio/tema/add/{{i.id}}/">Nueva Pregunta</a>
				<a href="/inicio/tema/edit/{{i.id}}/">Editar Pregunta</a>
			</div>
		{% empty %}
			<h3>Noexiste temas</h3>
		{% endfor %}
	</div>
</div>	
{% endblock %}	