{% extends "base.html" %}
	{% block titulo %}
	    <title>Confirmar Registro</title>
	{% endblock %}

	{% block menu %}
	{% include "includes/menu_registro.html" %}
	{%endblock%}

{% block contenidoIz %}
	

	<div class="textoinicio">
		<p>
			<img src="/media/imgInicio/imagen9.png" alt=""/>
			<h2>
			Diviertete y disfruta de la mejor pagina 
			de trivia, y demuestra que sabes mas que 
			los demas sumando puntos por cada victoria 
			que tengas, solo registrate y se parte de 
			esta nueva experiencia que abrira tu mente 
			llenandote de conocimientos.
			</h2>
		</p>

	</div>


{% endblock %}	

{% block contenido %}

	<div class="fregistro_confirmar">
		<h1><label for="mensaje">Te Registraste Exitosamente!!!</label></h1>
		<li><a href="/inicio/login/">Continuar</a></li>
	</div>
{% endblock %}