{% extends "base.html" %}
	{% block titulo %}
	    <title>Login</title>
	{% endblock %}

	{% block menu %}
	{% include "includes/menu_login.html" %}
	{%endblock%}

{% block contenido %}
	
	<div class="flogin">
		{% if estado %}
		<div class="error">{{msj}}</div>
		{% endif %}
		<form action="" method="post">
			

			{% csrf_token %}
			<label for="">NIck:</label>
			<input type="text"  name="username" id="inputEmail3" placeholder="Ingrese su nick">
			<label for="inputPassword3" class="col-sm-2 control-label">Contraseña :</label>
			<input type="password" name="password"  id="inputPassword3" placeholder="Ingrese la contraseña">

			<div>
			{{formularioC.as_p}}
			</div>
			
			<button type"submit" class="boton">Entrar</button>
		</form>
		
		
	</div>

{% endblock %}