{% extends "base.html" %}
	{% block titulo %}
	    <title>Login</title>
	{% endblock %}

	{% block menu %}
	{% include "includes/menu_login.html" %}
	{%endblock%}
{% block contenidoIz %}
	

	<div class="textoinicio">
		<p>
			<img src="/media/imgInicio/imagen9.png" alt=""/>
			<h2>
			Diviertete y disfruta de la mejor pagina 
			de trivia, y demuestra que sabes mas que 
			los demas sumando puntos por cada victoria 
			que tengas, solo registrate y se parte de 
			esta nueva experiencia que abrira tu mente 
			llenandote de conocimientos.
			</h2>
		</p>

	</div>


{% endblock %}	

{% block contenido %}
	
	<div class="flogin">
		{% if estado %}
		<div class="error">{{msj}}</div>
		{% endif %}
		<form action="" method="post">
			

			{% csrf_token %}
			<label for="">NIck:</label><br>
			<input type="text"  name="username" id="inputEmail3" placeholder="Ingrese su nick"><br>
			<label for="inputPassword3" class="col-sm-2 control-label">Contraseña :</label><br>
			<input type="password" name="password"  id="inputPassword3" placeholder="Ingrese la contraseña"><br>

			<div>
			{{formularioC.as_p}}
			</div><br>
			
			<button type"submit" class="boton">Entrar</button>
		</form>
		
		
	</div>

{% endblock %}