{% extends "base.html" %}
	{% block titulo %}
	    <title>Perfil</title>
	{% endblock %}

	{% block menu %}
	{% include "includes/menu_login.html" %}
	{%endblock%}

{% block contenidoIz %}
	<div class="perfil">
		<img id="nombre2" src="{{ user.perfil.avatar.url_200x200}}" alt="avatar">
		<h3>Activ@ : <label id="nombre">{{ user.get_username }}</label></h3>
	</div>
	
	<ul id="datos">
		<li>Puntos :</li>
		<li>Ganadas :</li>
		<li>Perdidas :</li>
	</ul>
	<ul id="preguntas">
		<li><a href="/inicio/modificar/">Editar Perfil</a></li><br><br>
		<li><a href="/inicio/registro/tema/">Editar preguntas</a></li>
	</ul>
	
{% endblock %}	

{% block contenido %}
	
<div id="chat">
<div id="pagina"></div>

<div id="controles">
	<input type="text" id="mensaje" placeholder="ingresa el mensaje"/>
	<input id="enviar" type="button" value="enviar">

</div>

</div>
<div id="irjuego"><li><a href="#">Ir al Juego</a></li></div>



{% endblock %}