{% extends "base.html" %}
	{% block titulo %}
	    <title>Registro</title>
	{% endblock %}

	{% block menu %}
	{% include "includes/menu_registro.html" %}
	{%endblock%}
{% block contenidoIz %}
	

	<div class="textoinicio">
		<p>
			<img src="/media/imgInicio/imagen9.png" alt=""/>
			<h2>
			Diviertete y disfruta de la mejor pagina 
			de trivia, y demuestra que sabes mas que 
			los demas sumando puntos por cada victoria 
			que tengas, solo registrate y se parte de 
			esta nueva experiencia que abrira tu mente 
			llenandote de conocimientos.
			</h2>
		</p>

	</div>


{% endblock %}	

{% block contenido %}
	
	<div class="fregistro">
		<label for="registro"><br><font size="5" color="#C0C0C0">INTRODUCE TUS DATOS:</font></label><br>
		<form action="" method="post">
			{{formulario.as_p}}
			{% csrf_token %}
			<button type"submit" class="boton">Registrar</button>
		</form><br>
	<label class="boton">sincronizar con >><a href="{% url 'social:begin' 'facebook' %}">Facebook</a></label>	
	</div>
{% endblock %}