div(class="contenedorchat")
		table(class="table")
			tr
				th Mensajes
				th Lista
			tr
				td
					ul#mensajes
				td
					ul#usuarios

	
		input(type="text",placeholder="Mensaje aqui" id="menvio")
div(class="contenedorjuego")		