extends layout
block content
	div(class='nombre')
		
		input#nickname(type='button')

	div#content
	div(class="contenedorchat")
		table(class="table")
			tr
				th Mensajes
				th Lista
			tr
				td
					ul#mensajes
				td
					ul#usuarios

	
		input(type="text",placeholder="Mensaje aqui" id="menvio")